doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/jquery-2.1.1.js')
    script(src='/js/jquery.blockUI.js')
    script.
      $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
  body
    - if(typeof(login)!='undefined'){
      div
        span Minha conta
        a(href='/logout') Log out
    - }
    block content
