body
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
a
  color: #00B7FF;
.btn
  padding: 2px;
  margin: 5px 0px;
.welcome.text
  padding: 3px;
  text-align: center;
.welcome.title
  color: #0094FF;
  text-align: center;
.welcome .login
  font: 12px "Arial";
  font-weight: bold;
  width: 250px;
  margin: 0px auto;
.login span
  padding: 4px 6px;
.login span
  float: left;
.login input
  float: right;
.login input
  width: 100%;
  margin: 1px;
.login input.btn
  width: 100%;
  margin: 5px 0px;
  text-align: center;

.resultados p
    text-align: left;
.resultados table.intervalos
    border: 1px solid black;
.resultados table.intervalos tr
    border: 1px solid black;
.resultados table.intervalos tr th
    border: 1px solid black;
.resultados table.intervalos tr td
    border: 1px solid black;
